@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Playfair Display', serif;
}

.sidebar{
  width: 160px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 0.6rem 0.3rem;
  font-weight: 400;
  transition: all ease-out 250ms;
}

nav li a:hover {
  color: lime;
}

.main {
  margin-left: 160px;
}
.main2 {
  margin-left: 160px;
}

section {
  background-color: #f2f2f2;
  height: 50vh;
  margin:0;
  padding:2.5rem 4rem;
} 

section:nth-of-type(2n) {
  background-color: #ccc;
}

section:last-of-type {
  height: auto;
}

h1 {
  color: #444;
  font-weight: 600;
}

h2{
  color: red;
}

.active {
  color: lime; 
  font-weight: 600;
}

.letterlinks a{
  font-size: 2em; color: black;
}

testi a{
  font-size:2em; color: black;
}


footer img {
	width: 40px;
	height: 40px;
	margin-left: .5em;
	margin-right: .5em;
}

nav img {
  width: 40px;
	height: 40px;
	margin-left: .5em;
	margin-right: .5em;
}

nav{
  border-top: 1px solid #57b1dc;
	  text-align: center;
	  padding-top: 1em
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}